body {
    background-color: #B3C60F;
    
}
.image {
    margin-left: 300px;
    margin-top: 100px;
}
.quatro{
color: whitesmoke;
margin-top: -550px;
margin-left: 300px;
font-size: 400px;
}
.quatr0{
color: whitesmoke;
margin-top: -730px;
margin-left: 900px;
font-size: 400px;
}