@media (max-width: 767px){
    body{
            background-color: whitesmoke;
            flex-direction: column;
            margin: 0 auto;
            
        }
        .div-video{
            width: 100%;
            position: relative;
            
        }
        .div-video video{
            width: 100%;
            top: 0;
            left: 0;
        }
        .titulo{
            padding-bottom: 5%;
        }
        .titulo img{
            display: flex;
            width: 90%;
            padding-top: 5%;
            padding-left: 5%;
            
        }
        .container{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        .container2{
            display: flex;
            
        }
        .container3{
            width: 90%;
            padding-left: 4%;
            padding-right: 4%;
            font-family: 'Montserrat';
        }
        .img img {
            display: flex;
            width: 100%;
        }
        .texto1{
            color: black;
            font-size:  20px;
            width: 100%; 
            text-align: justify;
            margin-top: 12%; 
            
        }
        .texto2{
            color: black;
            font-size:  20px;
            width: 100%; 
            text-align: justify;
            margin-top: 3%; 
        }
        .texto3{
            color: black;
            font-size:  20px;
            width: 100%; 
            text-align: justify;
            margin-top: 3%; 
        }
        .texto4{
            color: black;
            font-size:  20px;
            width: 100%; 
            text-align: justify;
            margin-top: 3%; 
        }
        .texto5{
            color: black;
            font-size:  20px;
            width: 100%; 
            text-align: justify;
            margin-top: 3%; 
        }
        .texto6{
            color: black;
            font-size:  20px;
            width: 100%; 
            text-align: justify;
            margin-top: 3%; 
        }
        .texto7{
            color: black;
            font-size:  20px;
            width: 100%; 
            text-align: justify;
            margin-top: 3%; 
        }
        .container-txt{
            display: none;
        }

    }
    @media (min-width: 768px) and (max-width: 1023px){
        
    body{
        background-color: whitesmoke;
        flex-direction: column;
        margin: 0 auto;
        
    }
    .div-video{
        width: 100%;
        position: relative;
        
    }
    .div-video video{
        width: 100%;
        top: 0;
        left: 0;
    }
    .titulo{
        padding-bottom: 5%;
    }
    .titulo img{
        display: flex;
        width: 90%;
        padding-top: 5%;
        padding-left: 5%;
        
    }
    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .container2{
        display: flex;
        
    }
    .container3{
        width: 90%;
        padding-left: 4%;
        padding-right: 4%;
        font-family: 'Montserrat';
    }
    .img img {
        display: flex;
        width: 100%;
    }
    .texto1{
        color: black;
        font-size:  20px;
        width: 100%; 
        text-align: justify;
        margin-top: 12%; 
        
    }
    .texto2{
        color: black;
        font-size:  20px;
        width: 100%; 
        text-align: justify;
        margin-top: 3%; 
    }
    .texto3{
        color: black;
        font-size:  20px;
        width: 100%; 
        text-align: justify;
        margin-top: 3%; 
    }
    .texto4{
        color: black;
        font-size:  20px;
        width: 100%; 
        text-align: justify;
        margin-top: 3%; 
    }
    .texto5{
        color: black;
        font-size:  20px;
        width: 100%; 
        text-align: justify;
        margin-top: 3%; 
    }
    .texto6{
        color: black;
        font-size:  20px;
        width: 100%; 
        text-align: justify;
        margin-top: 3%; 
    }
    .texto7{
        color: black;
        font-size:  20px;
        width: 100%; 
        text-align: justify;
        margin-top: 3%; 
    }
    .container-txt{
        display: none;
    }
    }
@media (min-width: 1024px){
body{
        background-color: whitesmoke;
        flex-direction: column;
        margin: 0 auto;
        
    }
    .div-video{
        width: 100%;
        position: relative;
        
    }
    .div-video video{
        width: 100%;
        top: 0;
        left: 0;
    }
    .titulo{
        padding-bottom: 5%;
    }
    .titulo img{
        display: flex;
        width: 90%;
        padding-left: 5%;
        
    }
    .container{
        width: 100%;
        display: flex;
    }
    .container2{
        display: flex;
        width: 50%;
    }
    .container3{
        padding-top: 1%;
        width: 50%;
        padding-right: 4%;
        font-family: 'Montserrat';
    }
    .img img {
        width: 100%;
        padding-left: 5%;
        
    }
    .texto1{
        color: black;
        font-size:  20px;
        width: 90%; 
        text-align: justify;
        margin-left: 10%;
        
    }
    .texto2{
        color: black;
        font-size:  20px;
        width: 90%; 
        text-align: justify;
        margin-top: 3%; 
        margin-left: 10%;
    }
    .texto3{
        color: black;
        font-size:  20px;
        width: 90%; 
        text-align: justify;
        margin-top: 3%; 
        margin-left: 10%;
    }
    .texto4{
        color: black;
        font-size:  20px;
        width: 90%;  
        text-align: justify;
        margin-top: 3%;
        margin-left: 10%; 
    }
    .texto5{
        color: black;
        font-size:  20px;
        width: 90%;  
        text-align: justify;
        margin-top: 3%; 
        margin-left: 10%;
    }
    .texto6{
        color: black;
        font-size:  20px;
        width: 90%;  
        text-align: justify;
        margin-top: 3%; 
        margin-left: 10%;
    }
    .texto7{
        color: black;
        font-size:  20px;
        width: 90%;  
        text-align: justify;
        margin-top: 3%; 
        margin-left: 10%;
    }
    
    .container-txt{
        display: flex;
        padding-right: 4%;
        padding-left:2%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: none;
    }
    .text{
        color: black;
        font-size:20px;
        width: 100%; 
        text-align: justify;
        margin-top: 2%;
        width: 100%;
        font-family: 'Montserrat'; 
    }
    .text1{
        color: black;
        font-size:20px;
        width: 100%; 
        text-align: justify;
        margin-top: 2%;
        width: 100%;
        font-family: 'Montserrat'; 
        
    }
    .text2{
        color: black;
        font-size:20px;
        width: 100%; 
        text-align: justify;
        margin-top: 2%;
        width: 100%;
        font-family: 'Montserrat'; 
    }
}